<main>
  <div
    class="absolute top-0 z-[-2] h-screen w-screen bg-white bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"
  ></div>
  <div
    class="flex h-[90vh] flex-col items-center justify-center md:flex-row md:px-8"
  >
    <div class="mb-8 mt-20 text-center md:mr-24 md:max-w-xl md:text-left">
      <h1 class="text-5xl font-[1000] md:text-left md:text-7xl">
        Organize your <br />
        Contacts Now
      </h1>
      <h1
        class="m-auto my-4 max-w-lg text-lg font-semibold text-gray-600 md:mx-0"
      >
        We just made it easy for you 😊
      </h1>
      <div class="flex">
        <button variant="secondary" hlmBtn>
          <a href="/login"> Login! </a>
        </button>
        <span class="mx-3"></span>
        <button hlmBtn>
          <a href="/register"> Start Now! </a>
        </button>
      </div>
    </div>
  </div>
</main>
